/*sm-------------------------------------*/
.g-sm-none{
	display: none;
}
.g-sm-block{
	display: block;
}
.g-sm-inline-block{
	display: inline-block;
}
.g-sm-flex{
	width:auto;
	flex:1;
}
.g-sm-1{
	width:100%;
}
.g-sm-2{
	width:50%;
}
.g-sm-3{
	width:33.3333%;
}
.g-sm-5{
	width:20%;
}
.g-sm-t-10{
	font-size:10px;
}
.g-sm-t-11{
	font-size:11px;
}
.g-sm-t-12{
	font-size:12px;
}
.g-sm-t-13{
	font-size:13px;
}
.g-sm-t-14{
	font-size:14px;
}
.g-sm-t-15{
	font-size:15px;
}
.g-sm-t-16{
	font-size:16px;
}
.g-sm-t-17{
	font-size:17px;
}
.g-sm-t-18{
	font-size:18px;
}
.g-sm-t-19{
	font-size:19px;
}
.g-sm-t-20{
	font-size:20px;
}
.g-sm-t-21{
	font-size:21px;
}
.g-sm-t-22{
	font-size:22px;
}
.g-sm-t-23{
	font-size:23px;
}
.g-sm-t-24{
	font-size:24px;
}
.g-sm-t-25{
	font-size:25px;
}
.g-sm-t-26{
	font-size:26px;
}
.g-sm-t-27{
	font-size:27px;
}
.g-sm-t-28{
	font-size:28px;
}
.g-sm-t-30{
	font-size:30px;
}
.g-sm-t-31{
	font-size:31px;
}
.g-sm-t-33{
	font-size:33px;
}
.g-sm-t-36{
	font-size:36px;
}
.g-sm-t-40{
	font-size:40px;
}
.g-sm-t-103{
	font-size:103px;
}
.g-sm-m-25{
	height:25px;
}

/*md-----------------------------------------*/
@media (min-width: 600px){
	.g-md-auto{
		width:auto;
	}
	.g-md-flex{
		width:auto;
		flex:1;
	}
	.g-md-1{
		width:100%;
	}
	.g-md-2{
		width:50%;
	}
	.g-md-3{
		width:33.3333%;
	}
	.g-md-4{
		width:25%;
	}
	.g-md-order-1{
		order:1;
	}
	.g-md-order-2{
		order:2;
	}
	.g-md-order-3{
		order:3;
	}
	.g-md-order-4{
		order:4;
	}
	.g-md-t-12{
		font-size:12px;
	}
	.g-md-t-13{
		font-size:13px;
	}
	.g-md-t-14{
		font-size:14px;
	}
	.g-md-t-15{
		font-size:15px;
	}
	.g-md-t-16{
		font-size:16px;
	}
	.g-md-t-18{
		font-size:18px;
	}
	.g-md-t-20{
		font-size:20px;
	}
	.g-md-t-21{
		font-size:21px;
	}
	.g-md-t-22{
		font-size:22px;
	}
	.g-md-t-24{
		font-size:24px;
	}
	.g-md-t-26{
		font-size:26px;
	}
	.g-md-t-28{
		font-size:28px;
	}
	.g-md-t-29{
		font-size:29px;
	}
	.g-md-t-30{
		font-size:30px;
	}
	.g-md-t-35{
		font-size:35px;
	}
	.g-md-t-36{
		font-size:36px;
	}
	.g-md-t-40{
		font-size:40px;
	}
	.g-md-t-48{
		font-size:48px;
	}
}
/*lg--------------------------------------*/
@media (min-width: 800px){
	.g-lg-none{
		display: none;
	}
	.g-lg-block{
		display: block;
	}
	.g-lg-auto{
		width:auto;
	}
	.g-lg-flex{
		width:auto;
		flex:1;
	}
	.g-lg-1{
		width:100%;
	}
	.g-lg-2{
		width:50%;
	}
	.g-lg-3{
		width:33.3333%;
	}
	.g-lg-4{
		width:25%;
	}
	.g-lg-order-1{
		order:1;
	}
	.g-lg-order-2{
		order:2;
	}
	.g-lg-order-3{
		order:3;
	}
	.g-lg-order-4{
		order:4;
	}
	.g-lg-order-5{
		order:5;
	}
	.g-lg-t-12{
		font-size:12px;
	}
	.g-lg-t-13{
		font-size:13px;
	}
	.g-lg-t-14{
		font-size:14px;
	}
	.g-lg-t-16{
		font-size:16px;
	}
	.g-lg-t-17{
		font-size:17px;
	}
	.g-lg-t-18{
		font-size:18px;
	}
	.g-lg-t-19{
		font-size:19px;
	}
	.g-lg-t-20{
		font-size:20px;
	}
	.g-lg-t-21{
		font-size:21px;
	}
	.g-lg-t-22{
		font-size:22px;
	}
	.g-lg-t-24{
		font-size:24px;
	}
	.g-lg-t-25{
		font-size:25px;
	}
	.g-lg-t-28{
		font-size:28px;
	}
	.g-lg-t-30{
		font-size:30px;
	}
	.g-lg-t-32{
		font-size:32px;
	}
	.g-lg-t-40{
		font-size:40px;
	}
	.g-lg-t-50{
		font-size:50px;
	}
	.g-lg-t-78{
		font-size:78px;
	}
}
/*fl--------------------------------------*/
@media (min-width: 990px){
	.g-fl-block{
		display: block;
	}
	.g-fl-flex{
		width:auto;
		flex:1;
	}
	.g-fl-auto{
		width:auto;
	}
	.g-fl-1{
		width:100%;
	}
	.g-fl-2{
		width:50%;
	}
	.g-fl-3{
		width:33.3333%;
	}
	.g-fl-4{
		width:25%;
	}
	.g-fl-5{
		width:20%;
	}
	.g-fl-t-12{
		font-size:12px;
	}
	.g-fl-t-13{
		font-size:13px;
	}
	.g-fl-t-14{
		font-size:14px;
	}
	.g-fl-t-15{
		font-size:15px;
	}
	.g-fl-t-16{
		font-size:16px;
	}
	.g-fl-t-18{
		font-size:18px;
	}
	.g-fl-t-20{
		font-size:20px;
	}
	.g-fl-t-21{
		font-size:21px;
	}
	.g-fl-t-22{
		font-size:22px;
	}
	.g-fl-t-24{
		font-size:24px;
	}
	.g-fl-t-26{
		font-size:26px;
	}
	.g-fl-t-28{
		font-size:28px;
	}
	.g-fl-t-29{
		font-size:29px;
	}
	.g-fl-t-30{
		font-size:30px;
	}
	.g-fl-t-31{
		font-size:31px;
	}
	.g-fl-t-32{
		font-size:32px;
	}
	.g-fl-t-34{
		font-size:34px;
	}
	.g-fl-t-35{
		font-size:35px;
	}
	.g-fl-t-36{
		font-size:36px;
	}
	.g-fl-t-40{
		font-size:40px;
	}
	.g-fl-t-42{
		font-size:42px;
	}
	.g-fl-t-43{
		font-size:43px;
	}
	.g-fl-t-44{
		font-size:44px;
	}
	.g-fl-t-50{
		font-size:50px;
	}
	.g-fl-t-60{
		font-size:60px;
	}
}

/*sfl--------------------------------------*/
@media (min-width: 1200px){
	.g-sfl-block{
		display: block;
	}
	.g-sfl-flex{
		flex:1;
	}
	.g-sfl-auto{
		width:auto;
	}
	.g-sfl-1{
		width:100%;
	}
	.g-sfl-2{
		width:50%;
	}
	.g-sfl-3{
		width:33.3333%;
	}
	.g-sfl-4{
		width:25%;
	}
	.g-sfl-5{
		width:20%;
	}	
	.g-sfl-6{
		width:16.6666%;
	}
	.g-sfl-order-1{
		order:1;
	}
	.g-sfl-order-2{
		order:2;
	}
	.g-sfl-t-24{
		font-size:24px;
	}
}